.row
  %label.new-post-title__label.pt3
    Create a new Post
  = form_for @post, html: { multipart: true } do |f|
    %div.field
    .field.influencer-photo-upload
      .row
        .col-md-3
          %label.user-photo-upload__label
            %i.fa.fa-camera
            1. Submit a Photo / Video
          .user-photo-upload__placeholder
            .user-photo-upload__file-container
              %p.user-photo-upload__file-text
                %i.fa.fa-camera
                %br
                %span
                  Upload a photo
              = f.file_field :content, class: "user-photo-upload__file"
        .col-md-6
          %label.user-title__label
            %i.fa.fa-pencil
            2. Write something about your post.
          .user-title-container
            = f.text_area :title, placeholder: 'The title you would like your post to have.', autofocus: true, class: "user-title__textarea"
    %br
    %div.actions.mt2
      = f.submit "Create post", :class => "btn btn-primary disabled"

:javascript
  $(document).ready(function(){
    $('#post_content').change(function() {
      toggleDisabled();
      var file, reader;
      reader = new FileReader();
      file = $(this).get(0).files[0];
      if (typeof file == "undefined") {
        $('.user-photo-upload__placeholder').css('background-color', '#183e59' );
        $('.user-photo-upload__placeholder').css('background-image', 'none' );
      }
      reader.onloadend = function() {
        $('.user-photo-upload__placeholder').css('background-image', 'url(' + reader.result + ')');
      };
      return reader.readAsDataURL(file);
    });

    function toggleDisabled() {
      function picturePresent() {
        return $('#post_content')[0].files.length > 0;
      }

      function titlePresent() {
        return $('#post_title').val().length > 5;
      }

      if (picturePresent() && titlePresent()) {
        $('input.btn').removeClass('disabled');
      } else {
        $('input.btn').addClass('disabled');
      }
    }
    $('#post_title').on('input', toggleDisabled);
    $('#post_content').change(toggleDisabled);
  })
