@import "bootstrap-sprockets";
@import "bootstrap";

.comment-counters-text {
  color: #999;
  &:hover {
    color: #999;
  }
}

.post_title {
  color: #000;
  &:hover{
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }

}

.user_link {
  color: #000;
  &:hover{
    color: #000;
  }
}

.counters_link {
  color: #999;
  a:hover {
    color: #999;
  }
  a:visited {
    color: #999;
  }
}
